*

!*/
!*.d
!*.di
!*.md
!*.sh
!dub.json
!.gitignore
!Makefile

adrdox


.dub
docs.json
__dummy.html
docs/
/d-speech
d-speech.so
d-speech.dylib
d-speech.dll
d-speech.a
d-speech.lib
d-speech-test-*
*.exe
*.o
*.obj
*.lst
